.popup {
    position: fixed;
    top: 20px; /* Adjusted to show popup on top */
    right: 20px;
    width: 300px;
    padding: 20px;
    background-color: #28a745; /* Default color for popup */
    color: #ffffff; /* Changed text color to white */
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    display: none;
    z-index: 1000;
    animation: slideInDown 0.5s ease-out; /* Added animation for showing popup */
}
.popup.show {
    display: block;
}
.close-btn {
    float: right;
    cursor: pointer;
    color: #ffffff; /* Changed close button color to white */
    font-weight: bold;
}
/* Additional class for popup with different colors */
.popup.supervisor {
    background-color: #28a745; /* Green color for supervisor approval */
}
.popup.management {
    background-color: #007bff; /* Blue color for management approval */
}